@charset "utf-8";
#main{margin-left: 220px;}
.container{
	width: 100%;
	position: relative;
	padding: 0 0 200px 0;
}
.container > div{
	display: block;  
	position: relative;
	top: 50px; left: 50%;
	transform: translateX(-50%);
	width: 80%;
	max-width: 800px;
	min-width: 600px;
	margin: 0 0 20px 0;
	padding: 0 30px 30px;
    border-radius: 8px;
	box-shadow: 0 1px 4px 0 #e5e9f2;
    background-color: #fff;
}
.set_tit{
    height: 70px;
    line-height: 70px;
    font-size: 1.3em;
}
.setting input{
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 20px;
    display: block;
    margin-bottom: 10px;
}
label{
    display: block;
    padding-top: 10px;
    padding-bottom: 5px;
    color: #92949c;
    font-size: 12px;
}
label:nth-child(1){
    padding-top: 0;
}
.notice{
    margin-top: 20px;
}
.notice,.notice li{
    font-size: 12px;
    color: #74767d;
}

.error{
    color: red;
    font-size: 12px;
}

.btn_wrap{
    margin-top: 30px;
}
button{
    width: 100%;
    height: 40px;
    background-color: #108a7a;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.haf{
    width: 40%;
    display: inline-block;
    margin-right: 25px;
}
.sch_add_btn{
    width: 80px;
}