@charset "utf-8";

#main{
    margin-left: 220px;
}
.container{
    padding: 50px 200px;
}

.container > div{
    display: inline-block;  
    width: 100%;
    padding: 0px 70px 30px;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 15px;
}
.set_tit{
    height: 70px;
    line-height: 70px;
    font-size: 1.3em;
}
.setting > input{
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 20px;
    display: block;
    margin-bottom: 10px;
}
label{
    display: block;
    padding-top: 10px;
    padding-bottom: 5px;
    color: #92949c;
    font-size: 12px;
}
label:nth-child(1){
    padding-top: 0;
}
.notice{
    margin-top: 20px;
}
.notice,.notice li{
    font-size: 12px;
    color: #74767d;
}
.gen_der > label{
    display: inline-block;
    margin-left: 30px;
    margin-top: 10px;
}
.container button{
    width: 100%;
    height: 40px;
    background-color: #9b9b9b;
    border: none;
    border-radius: 5px;
    color: #fff;
}
.container button:hover{
    background-color: #fff;
    color: #108a7a;
    border: 2px solid #108a7a;
    transition: all 0.3s ease;
}
.btn_wrap{
    margin-top: 30px;
}

.name_wrap  input{
    margin-bottom: 10px;
}

.error{
    color: red;
    font-size: 12px;
}

/* sns instagram */
.profile_img{
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid #ccc;
}
.profile_img > img{
    width: 100%;
}
.profile_info{
    padding: 10px 10px 0 200px;
}
.info_1{
    background: linear-gradient(-45deg, #4e70d4, #ba3bbe, #fbc94c, #f86e3f, #cc36a4);
	background-size: 400% 400%;
	-webkit-animation: Gradient 5s ease infinite;
	-moz-animation: Gradient 5s ease infinite;
	animation: Gradient 5s ease infinite;
    /* background-color: #c93681; */
    padding: 15px 30px;
    border-radius: 15px;
    cursor: pointer;
}
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.info_1 > img{
    vertical-align: middle;
}
.info_1 > h1{
    display: inline-block;
    color: #fff;
    padding: 0 10px;
    line-height: 25px;
    font-size: 1.3em;
    font-weight: 500;
}
.inst_logo{
    display: inline-block;
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
    border-right: 2px solid rgba(255,255,255,.5);
    color: #fff;
    padding-right: 3%;
}
.info_2 > li{
    float: left;
    padding: 20px 20px;
}

.sns_change_btn{display: none;}