@charset "utf-8";
.input_wrap{
    display: inherit;
    padding-bottom: 10px;
}
/* 회원정보 */
.info{
    width: 970px;
}
/* 계정정보 */
.account{
    width: 472px;
}
.account .input_wrap{
    padding-bottom: 0;
}
.sns_con, .phone_cer, .term_inf{
    float: left;
    width: 470px;
    height: 345px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: #ffffff;
}
.term_inf{
    width: 472px;
    float: right;
}
.agree{
    padding-left: 40px;
}
.agree > ul{
    position: relative;
    width: 390px;
    height: 225px;
    margin: 0;
    padding: 10px 50px;
    border-radius: 4px;
    background-color: #f9faff;
}
.agree > ul > li{
    margin-top: 5px;
}
.agree > ul > li > label > a{
    text-decoration: underline;
}

.phone_cer{
    margin-left: 30px;
}

.select_box > label{
    padding-bottom: 20px;
}
.select_box > span > label{
    display: inline-block;
    padding-right: 20px;
    padding-bottom: 20px;
}

.sns_con > .form{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 75px;
}
.instargam_con_btn{
    width: 280px;
    height: 60px;
}

.hidden{
    display: none;
}

.sns_con{
	background-color: white;
	border-radius: 8px;
}
.form_tit{
	font-size: 22px;
	margin-bottom: 10px;
}
.form{
	position: relative;
/*	border: 2px solid blue;*/
}

.instagram_profile_img{
	position: relative;
	top: -47px;
	left: -150px;
	width: 100px;
	height: 100px;
}
.profile_txt{
	width: 300px;
	position: absolute;
	top: 30px;
	left: 160px;
	text-align: left;
	font-size: 0;
}
.profile_txt img{
	position: relative;
	left: 0; top: 25px;
	width: 25px;
	height: 25px;
}
.profile_txt .username{
	display: block;
	text-align: left;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 15px;
	margin-left: 35px;
}
.profile_txt strong{
	display: inline-block;
	width: 33.33333%;
}
