@charset "utf-8";
/* main */
#main{
    margin-left: 220px;
}
.container{
    /* position: relative; */
    width: 100%;
    padding: 40px;
    margin: 0 auto;
}
.breadcrumbs{
    height: 70px;
    line-height: 70px;
    padding: 0 30px;
}
.breadcrumbs a{
	position: relative;
	padding-right: 23px;
    color: #cccccc;
    font-weight: 600;
    font-size: 13px;
}
.breadcrumbs a:after{
	content: '';
	position: absolute;
	top:3px; right: 4px;
	width: 10px;
	height: 15px;
	background: url(https://s3.ap-northeast-2.amazonaws.com/spin-protocol-resource/resources/images/arrow.png)no-repeat;
	background-size: 8px;
	opacity: 0.2;
}
.breadcrumbs a:last-child{
	color: #222;
}
.breadcrumbs a:last-child:after{
	content: none;
}

.campaign{
    position: relative;
    float: left;
    width: 350px;
    padding: 10px;
    overflow: hidden;
    transition: 0.3s;
    margin-bottom: 20px;
    margin-left: 20px;
}
.campaign_img{
    width: 100%;
    border-radius: 15px;
}
.campaign_info{
    font-weight: 600;
}
.campaign >a:hover::after{
    content: "신청하기";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    text-align: center;
    line-height: 263px;
    top: 0;
    left: 0;
    font-size: 1.2em;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
}

table {
    width: 80%;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 1px 4px 0 #e5e9f2;
    padding: 20px 40px 20px 30px;

}
table tr td:last-child {
    padding-right: 40px;
}

.filter_button{
    width: 60px;
    height: 30px;
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: #9b9b9b;
}

.filter_button:hover{
    background-color: transparent;
    color: #108a7a;
    border: 2px solid #108a7a;
    transition: all 0.3s ease;
}
/* #footer{
    position: absolute;
    height: 50px;
    width: 100%;
    z-index: -1;
    background-color: #343434;
    bottom: 0;
} */