@charset "utf-8";
/*캠페인 등록 공통사항*/
.hide{position: absolute; text-indent: -9999px;}
#nav{
	position: fixed;
	width: 220px;
	background-color: #222;
	font-size: 16px;
	min-height: 100%;
}
.logo{
	width: 148px;
	margin: 30px auto 40px;
}
.logo a{
	background: url(../img/spin_logo-2.png) no-repeat;
	background-size: 148px 100px;
	background-position: center;
	display: block;
	width: 148px;
	height: 100px;
	text-indent: -999999px;
}
#nav li{
	position: relative;
	padding: 16px 0 17px 30px;
}
#nav a{
	font-size: 16px;
	color: rgba(255,255,255,0.7);
}
#nav .nav_on:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 58px;
	border-left: 5px solid #00dbbf;
}
.btn_wrap{
	border-top: 1px solid rgba(255,255,255,0.1);
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 175px;
	padding: 15px 8px;
}
.logout_btn{
	background: none;
	border: none;
	color: rgba(255,255,255,0.7);
	font-size: 16px;
}
/* ============ wrap ============ */
#wrap{
	position: relative;
	left: 220px;
	width: calc(100% - 220px);
}
#header{
	position: relative;
	background-color: white;
	height: 70px;
	border-bottom: 1px solid #eee;
}
.header_gnb{
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 12px;
}
.header_gnb li{
	display: inline-block;
	margin-left: 13px;
	vertical-align: middle;
}
.gnb_icon{
	display: block;
	width: 24px;
	height: 24px;
	background: url(../img/btn-notice-gray-99.png)no-repeat;
	text-indent: -999999px;
}
.gnb_notice{position: relative;}
.circle_cnt{
	position: absolute;
	right: -6px;
	top: -4px;
	display: block;
	border: 1px solid white;
	border-radius: 9px;
	width: 18px;
	height: 18px;
	text-align: center;
	background-color: #00dbbf;
}
.circle_cnt .notice_cnt{
	position: relative;
	top:-3px;
	color: white;
	font-size: 5px;
	line-height: 10px;
}
.gnb_myinfo{
	position: relative;
	font-weight: bold;
	font-size: 15px;
	color: #222;
}
.gnb_myinfo span{
	display: inline-block;
}
.myname{
	position: relative;
	top: 7px;
}
.myimg{
	display: block;
	border-radius: 20px;
	width: 40px;
	height: 40px;
	text-indent: -999999px;
	background: url(../img/myimg.jpg)no-repeat;
	background-size: 40px 40px;
}
/* ============ main ============ */
#main{
	background-color: #f9f9f9;
	padding: 0 20px 200px;
}
.breadcrumbs{
	font-size: 15px;
	line-height: 70px;
	height: 70px;
	position: relative;
}
.container > div:nth-child(1),.container > div:nth-child(2) {margin-top: 0px;}
.container > div{margin-top: 75px;}

.breadcrumbs a{
	position: relative;
	padding-right: 23px;
	color: #ccc;
}
.breadcrumbs a:after{
	content: '';
	position: absolute;
	top:3px; right: 4px;
	width: 10px;
	height: 15px;
	background: url(../img/arrow.png)no-repeat;
	background-size: 8px;
	opacity: 0.2;
}
.breadcrumbs span{
	color: #00dbbf;
}
.container {width: 100%;}
h2{
	font-size: 17px;
	line-height: 25px;
	color: #222;
}

.list_wrap{
	position: relative;
	background-color: white;
	box-shadow: 0 1px 4px 0 #e5e9f2;
	border-radius: 5px;
}
.container h2{
	position: absolute;
	top: -40px;
}
/*캠페인 등록 공통사항 ====> 끝*/


.state_wrap{position: relative;}
.state_wrap:after{content: ''; display: block; clear: both;}
.state_box li > a{
	width: calc((100% - 30px)/4);
	box-sizing: border-box;
	display: block;
	float: left; 
	background-color: white; 
	padding: 29px 22px 28px 25px;
	box-shadow: 0 1px 4px 0 #e5e9f2;
	border-radius: 5px;
}
.state_box li+li > a{margin-left: 10px;}
.state_box .state{
	font-size: 14px;
	line-height: 20px;
	color: #999;
}
.state_box span{
	font-size:30px;
	line-height: 33px;
	display: block;
}
.camp_btn{
	position: absolute;
	right: 0;
	bottom: -65px;
	display: block;
 	width: 160px;
	height: 50px;
  	border-radius: 5px;
	background-color: #00dbbf;
	color: white;
	border-style: none;
}
.search_wrap{
	position: relative;
	background-color: white;
	height: 150px;
	border-radius: 5px;
  	box-shadow: 0 1px 4px 0 #e5e9f2;
	padding: 25px 0 0 25px;
}
.search_wrap > h2{
	position: absolute;
	top: -40px;
	left: 0;
}
.search_wrap > div{
	position: relative;
	height: 55px;
}
.search_wrap > div > div{
	position: absolute;
	left: 93px;
	top: 0;
}
.search_wrap > div > span{
	font-size: 16px;
	line-height: 45px;
	font-weight: bold;
}
.search_inbox .search_txt{
	width: 544px;
	font-size: 14px;
	line-height: 40px;
  	border-radius: 4px;
	border: 1px solid #ddd;
	padding-left: 15px;
	letter-spacing: -1px;
}
.search_icon{
	position: relative;
	left: -34px;
	width: 18px;
	height: 18px;
}
.check_tab input[type="checkbox"]{
	width: 20px;
	height: 20px;
	background: #fff;
	vertical-align: text-top;
}
.check_tab{
	display: inline-block;
	line-height: 45px;
	margin-right: 30px;
	font-size: 14px;
}



/* table공통사항 */
caption{
	position: absolute;
	text-indent: -99999px;
}
table{border-collapse: collapse;}
tr{text-align: left;}
thead th{
	padding: 14px 0 15px;
	font-size: 15px;
	position: relative;
	color: #666;
}
thead:after{
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	border-bottom: 1px solid #eeeeee;
}
tbody td{
	position: relative;
	padding: 30px 0;
	font-size: 15px;
	line-height: 15px;
	font-weight: bold;
}
tbody tr{
	position: relative;
	width: 100%;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: 1000;
}
tbody tr *{
	color: #222;
}
.num{padding-left: 20px;}
thead .ud:after{
	content: '';
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: top;
	background: url(../img/btn-list-filter.png)no-repeat;
}
/* table공통사항 ==>끝 */


.product_name p{
	padding-left: 40px;
}
.product_name img{
	position: absolute;
	top: 25px;
	width: 35px;
	height: 35px;
	border: 1px solid rgba(229, 233, 242, 0.5);
}
.camp_state span{
	display: block;
	font-size: 11px;
	line-height: 12px;
	border-radius: 20px;
	padding: 5px 0;
	width: 50px;
	text-align: center;
}
.check1{
	border: 2px solid #627efe;
	color: #627efe;
}
.check2{
	border: 2px solid #5d38db;
	color: #5d38db;
}
.check3{
	border: 2px solid #ccc;
	color: #ccc;
}
.camp_state .check4{
	width: 60px;
	border: 2px solid #999;
	color: #999;
}