@charset "utf-8";
.hide{
	position: absolute;
	text-indent: -9999999px;
}
#main{
	max-width: 100%;
}
.site_container{
	position: relative;
}
.site_container > *{
	display: inline-block;
	vertical-align: top;
}
.site_sidebar{
	position: fixed;
	width: 220px;
	background-color: #222827;
	font-size: 16px;
	color: rgba(255,255,255,0.7);
	min-height: 100%;
}
.logo{
	width: 148px;
	margin: 30px auto 40px;
}
.logo a{
	background: url(../img/spin_logo-2.png) no-repeat;
	background-size: 148px 100px;
	background-position: center;
	display: block;
	width: 148px;
	height: 100px;
	text-indent: -999999px;
}
.site_link li{
	padding: 16px 0 17px;
	padding-left: 30px;
}
.site_link .click{
	border-left: 5px solid #00dbbf;
}


.logout{
	border-top: 1px solid rgba(255,255,255,0.3);
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 175px;
	padding: 15px 8px;
}




/* ============ site_content ============ */
.site_content{
	position: relative;
	left: 220px;
	width: calc(100% - 220px);
}
.navbar{
	position: relative;
	background-color: white;
	height: 70px;
	border-bottom: 1px solid #eee;
}
.gnb{
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 12px;
}
.gnb li{
	display: inline-block;
	margin-left: 13px;
	vertical-align: middle;
}
.gnb_icon{
	display: block;
	width: 24px;
	height: 24px;
	background: url(../img/btn-notice-gray-99.png);
}
.gnb_wallet .gnb_icon{
	background: url(../img/btn-wallet-gray-99.png)
}
.gnb_notice{position: relative;}
.count{
	position: absolute;
	right: -6px;
	top: -4px;
	display: block;
	border: 1px solid white;
	border-radius: 9px;
	width: 18px;
	height: 18px;
	text-align: center;
	background-color: #00dbbf;
	color: white;
	font-size: 10px;
	line-height: 15px;
}




.gnb_myinfo{
	position: relative;
	font-weight: bold;
	font-size: 15px;
	color: #222;
}
.gnb_myinfo span{
	display: inline-block;
}
.myname{
	position: relative;
	top: 7px;
}
.myimg{
	display: block;
	border-radius: 20px;
	width: 40px;
	height: 40px;
	text-indent: -999999px;
	border: 1px solid black;
}




.content_container{
	background-color: #f9f9f9;
	padding: 0 20px 200px;
}
.breadcrumbs{
	color: #ccc;
	font-size: 12px;
	line-height: 70px;
	height: 70px;
	position: relative;
	margin-bottom: 30px;
}
.breadcrumbs a{
	position: relative;
	padding-right: 35px;
}
.breadcrumbs a:after{
	content: '';
	position: absolute;
	top:-4px; right: 4px;
	width: 20px;
	height: 24px;
	border: 1px solid red;
}
.breadcrumbs span{
	color: #00dbbf
}

/* ==== page_content ==== */
.page_content {width: 100%;}
h2{
	font-size: 17px;
	line-height: 25px;
	color: #222;
	position: absolute;
	top: -40px;
}
.page_content > div+div{margin-top: 70px;}
.info_container{
	position: relative;
	background-color: white;
	box-shadow: 0 1px 4px 0 #e5e9f2;
	border-radius: 5px;
}

.info_container > div{
	margin: 0 25px;
	height: 90px;
	line-height: 90px;
}
.info_container > div *{
	display: inline-block;
	font-size: 14px;
}
.info_container span{
	font-size: 16px;
	font-weight: bold;
	margin-right: 20px;
}
.info_pd{
	border-bottom: 1px solid #eee;
}
.pd_img img{
	width: 35px;
	height: 35px;
	vertical-align: middle;
	border: 1px solid red;
}
.modify{
	position: relative;
	color: #ff7800;
}
.modify:after{
	position: absolute;
	right: -25px;
	top:50%;
	transform: translateY(-50%);
	display: block;
	content: '';
	width: 20px;
	height: 24px;
	border: 1px solid red;
}



.list_container{
	position: relative;
	background-color: white;
	box-shadow: 0 1px 4px 0 #e5e9f2;
	border-radius: 5px;
}
tr{text-align: left;}
thead th{
	padding: 14px 0 15px;
	font-size: 15px;
	position: relative;
	color: #666;
}
tbody td{
	padding: 30px 0;
	font-size: 15px;
	line-height: 15px;
	color: #222;
	font-weight: bold;
}
tbody tr{
	position: relative;
	width: 100%;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: 1000;
}
.num{padding-left: 20px;}
thead .price:after, thead .date_camp:after{
	content: '';
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: top;
	background: url(../img/btn-list-filter.png)
}