@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #222222;
    text-decoration: none;
}
body{
	background-color: #f5f6fa;
}
ol, ul{
    list-style: none;
}
input[type="checkbox"], input[type="radio"]{
    vertical-align: middle;
}
input::placeholder{
    font-size: 12px;
    color: #acacac;
}
input, textarea, button:focus{
    outline: none;
}
a, button{
    cursor: pointer;
}
.clear{
    clear: both;
}


/* 체크박스 디자인 */
input[type="checkbox"]{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0
}
input[type="checkbox"] + label:before {
    content: ' ';
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    margin: -2px 8px 0 0;
    text-align: center;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #cacece;
    border-radius: 100%;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
}
input[type="checkbox"]:checked + label:before {
    content: '\2714';
    color: #314ca2;
    text-shadow: 1px 1px white;
    background: #f1f4ff;
    border-color: #adb8c0;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
}

/* 라디오 디자인 */
input[type="radio"]{
    display: none;
}
input[type="radio"] + label:before {
    content: ' ';
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    margin: -2px 8px 0 0;
    text-align: center;
    vertical-align: middle;
    background: #fafafa;
    border: 1px solid #cacece;
    border-radius: 100%;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
}
input[type="radio"]:checked + label:before {
    content: '\273F';
    color: #314ca2;
    text-shadow: 1px 1px white;
    background: #f1f4ff;
    border-color: #adb8c0;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
}

/* nav */
#nav{
    position: fixed;
    width: 220px;
    height: 100%;
    float: left;
    background-color:#1f263e;
}
.logo{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo > a{
    display: block;
    width: 166.8px;
    height: 27px;
}
.logo > a > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.profile{
    height: 171px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color:#1a2034;
}
.profile > .user_name{
    line-height: 40px;
    text-align: center;
    color: #fff;
}
.profile > .image{
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 100%;
    overflow: hidden;
}
.profile > .image > img{
    width: 100%;
}
.nav_gnb {
    width: 100%;
}
.nav_gnb > li{
    width: 100%;
    height: 58px;
    line-height: 58px;
}
.nav_on{
    border-left: 4px solid #627efe;
    background-color: #293150;
}
.nav_on, .setting > a{
    position: relative;
}
.setting > a{
    padding: 0 50px !important;
}
.nav_on > a::after{
    content: url(https://s3.ap-northeast-2.amazonaws.com/spin-protocol-resource/resources/images/arrow-down-white_2019-01-16/arrow-down-white.png);
    position: absolute;
    color: #fff;
    right: 20px;
    top: 5px;
}
.setting > a::before{
    content: url(https://s3.ap-northeast-2.amazonaws.com/spin-protocol-resource/resources/images/icon-settings/ic-settings.png);
    position: absolute;
    top: 5px;
    left: 20px;
}
.nav_gnb > li > a{
    display: block;
    padding: 0 35px;
    color: #ccced6;
}

.logout_btn_wrap{
    position: absolute;
    width: 100%;
    height: 58px;
    line-height: 58px;
    text-align: center;
    bottom: 0;
}
.logout_btn{
    border: none;
    background: none;
    color: #fff;
}

/* header */
#header{
    width: 100%;
    height: 70px;
    background-color: #fff;
    box-shadow: 0 3px 20px 0 rgba(124, 124, 124, 0.1);
}
.header_gnb{
    float: right;
    height: 100%;
    padding-right: 30px;
}
.header_gnb > li{
    display: flex;
    align-items: center;
    height: 100%;
    float: left;
    padding: 0 5px;
}
.notice_icon{
    padding: 0 20px !important;
}
.notice_msg{
    position:relative;
    width: 26px;
    height: 26px;
    background: transparent none;
    border: none;
}
.circle_cnt{
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #f45879;
    border: 1px solid #fff;
    border-radius: 100%;
    top: -7px;
    right: -7px;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
}
.header_img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
}
.header_img > img{
    width: 100%;
}

/* footer */
#footer{
    width: 100%;
    height: 50px;
    background-color: #343434;
}
#footer > p{
    line-height: 50px;
    text-align: left;
    margin-left: 280px;
    color: #878787;
}

.pop_content{
    position: absolute;
    top: 48px;
    right: 230px;
    z-index: 1000;
}
.notification{
    width: 400px;
    height: 568px;
    max-height: 568px;
    overflow: auto;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 3px 7px 3px rgba(163,163,163,0.69)
}