.input_wrap{
    display: inherit;
}

/* 인플루언서 */
.sns_con, .phone_cer, .term_inf{
    float: left;
    width: 470px;
    height: 365px;
    margin-top: 30px;
    border-radius: 8px;
    background-color: #ffffff;
}
.term_inf{
    float: right;
}
.term_inf .check_wrap > li{
    margin-top: 5px;
}
.term_inf .check_wrap > li > a{
    text-decoration: underline;
}
.phone_cer{
    margin-left: 30px;
}
.term_inf  .check_wrap{
    width: 412px;
    height: 235px;
    border-radius: 4px;
    background-color: #f9faff;
}


.sns_con > .form{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 100px;
}
.inst_con_btn{
    width: 280px;
    height: 60px;
}