@charset "utf-8";
@media screen and (max-width:767px){
	#header{
		position: relative;
		z-index: 100;
		box-shadow: 0 4px 20px rgba(124, 124, 124, 0.13);
		height: 56px;
	}
	.header_gnb{padding-right: 0;}
	.header_gnb li{padding: 0 2px;}
	.header_img, #header p{display: none;}
	#main{margin-left: 0; padding: 0 0 170px; overflow: hidden;}
	.breadcrumbs{display: none;}
/*곧통내용끝*/
	#nav{
		position: absolute;
		z-index: 1000;
		left: -220px;
		transition: all 0.5s ease;
	}
	#nav.on{
		position: fixed;
		left: 0;
		transition: all 0.5s ease;
	}
	#nav > a{
		display: block;
		position: absolute;
		left: 240px;
		top: 15px;
		z-index: 10;
	}
	#nav .open{
		background: url(../img/open.png)no-repeat;
		background-size: 100% auto;
		width: 22px;
		height: 22px;
	}
	#nav .close{
		background: url(../img/close_2.png)no-repeat;
		background-size: 100% auto;
		width: 22px;
		height: 22px;
		left: 175px;
	}
	.logo{height: 56px;}
	.logo > a{
		width: 130px;
		margin-right: 40px;
	}
/*본문시작*/
	.container h2{left: 10px; font-size: 16px;}
	#main .info_wrap{margin-top: 60px;}
	.container > div{margin-top: 60px;  border-radius: 0;}
	.info_wrap > div{
		position: relative;
		height: 130px;
		margin: 0 20px;
	}
	.info_wrap > div *{display: block;}
	.info_pd span{
		position: relative;
		top: 23px;
		width: 100px;
		line-height: 30px;
		font-size: 14px;
	}
	.pd_img{
		position: relative;
		left: 0;
		top: 40px;
		width: 35px;
	}
	.info_pd p{
		position: relative;
		top: 13px;
		left: 50px;
		width: 88%;
		height: 45px;
		line-height: 21px;
		overflow: hidden;
	}
	.info_wrap .modify{
		position: absolute;
		top: 23px;
		left: auto;
		right: 13px;
		width: 60px;
		line-height: 30px;
		font-size: 14px;
	}
	thead .price:nth-child(4), .price_num, tbody .price:nth-child(4), .date_camp, .camp_state{display: none;}
	thead th{padding: 15px;}
	tbody td{padding: 22px 15px;}
	.num{width: 15%;}
	.price{width: 30%;}
	.infu_name img{left: 20px;top: 17px;}
	
}

@media screen and (min-width:768px) and (max-width:1023px){
	
	#header{background-color: blue;}
	
	#main{margin-left: 100px;}
	.header_gnb{margin-right:25px;}
	#nav{width: 100px;}
	.logo{display: block; height: 80px;}
	.logo > a{width: 100px; height: 70px;}
	.logo > a > img{width: 94px;}
	.nav_on > a::after{display: none;}
	.nav_gnb > li{position: relative; height: 90px;}
	.nav_gnb > li > a{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		font-size: 11px;
		line-height: 20px;
		text-align: center;
		padding: 0 19px;
	}
	.nav_gnb > li.setting{height: 130px;}
	.setting > a{padding: 20px 39px !important ;}
	.setting > a::before{
		content: '';
		background: url(https://s3.ap-northeast-2.amazonaws.com/spin-protocol-resource/resources/images/icon-settings/ic-settings%402x.png)no-repeat;
		background-size: 35px;
		width: 35px;
		height: 35px;
		top: -17px;
		left: 33px;
	}
/*공통내용끝*/

}

@media screen and (min-width:1024px) and (max-width:1599px){
	
	#header{background-color: yellow;}
	.header_gnb{margin-right:25px;}
/*공통내용끝*/
	

}

@media screen and (min-width:1600px) { /*기본*/

}