body{
    background-color: #f2f7fd;
}

/* header */
#header{
    width: 100%;
    height: 70px;
    background-color: #1f263e;
}
#header .logo{
    float: left;
    width: 174px;
    height: 70px;
    padding-left: 20px;
    object-fit: contain;
}
#header .logo a{
    display: block;
    width: 100%;
    height: 100%;
}
.title{
    float: right;
    width: 70px;
    margin-right: 30px;
    line-height: 70px;
    color: #eaedf8;
    font-weight: 500;
}

/* 회원가입 카테고리 버튼 */
.txt{
    line-height: 70px;
}
.btn_wrap{
    width: 360px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
}
.btn{
    display: inline-block;
    width: 100px;
    height: 50px;
    line-height: 50px;
    background-color: #627efe;
    color: #fff;
}

.form_tit{
    padding: 20px;
}
input[type="text"],input[type="password"]{
    width: 380px;
    height: 35px;
    padding: 20px;
    margin-bottom: 5px;
    border: 1px solid #e9eaf1;
    border-radius: 4px;
    /* box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1); */
    background-color: #fbfcff;
}
input:focus{
    border: 1px solid #627efe;
}

label{
    display: block;
    padding-bottom: 5px;
    color: #92949c;
    font-size: 12px;
}
sup{
    font-size: 12px;
    color: #627efe;
}
.input_margin{
    /* 작은 input 마진 */
    margin-left: 20px;
}
.input_wrap{
    display: inline-block;
}
button{
    text-align: center;
    color: #fff;
    border:none;
    cursor: pointer;
    border-radius: 4px;
    background-color: #627efe;
}

.error{
    color: red;
    font-size: 12px;
}
/* main */
#main{
    padding-top: 20px;
}
.form_left{
    padding: 0 40px;
    width: 400px;
    float: left;
}
.form_right{
    width: 430px;
    float: right;
}
.event, .industry, .address{
    width: 180px !important;
}
.sch_add_btn, .id_chk_btn, .phone_chk_btn{
    width: 76px;
    height: 40px;
    margin-left: 10px;
}

/* 회원정보 */
.info{
    float: left;
    height: 380px;
    border-radius: 8px;
    background-color: #ffffff;
}


/* 계정정보 */
.account{
    float: right;
    height: 380px;
    border-radius: 8px;
    background-color: #ffffff;
}
.form{
    padding: 0 40px;
}
.id, .phone_num_cer{
    width: 290px !important;
}
.notice{
    margin-top: 20px;
}
.notice,.notice li{
    font-size: 12px;
    color: #74767d;
}


/* 제출 button */
.submit_wrap{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
 }
 .submit_btn{
     width: 300px;
     height: 50px;
     border-radius: 30px;
 }


