@charset "utf-8";
/*캠페인 등록 공통사항*/
.hide{position: absolute; text-indent: -9999px;}
#nav{
	position: fixed;
	width: 220px;
	background-color: #222;
	font-size: 16px;
	min-height: 100%;
}
.logo{
	width: 148px;
	margin: 30px auto 40px;
}
.logo a{
	background: url(https://s3.ap-northeast-2.amazonaws.com/spin-protocol-resource/resources/images/spin_logo-2.png) no-repeat;
	background-size: 148px 100px;
	background-position: center;
	display: block;
	width: 148px;
	height: 100px;
	text-indent: -999999px;
}
#nav li{
	position: relative;
	padding: 16px 0 17px 30px;
}
#nav a{
	font-size: 16px;
	color: rgba(255,255,255,0.7);
}
#nav .nav_on:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 53px;
	border-left: 5px solid #00dbbf;
}
.btn_wrap{
	border-top: 1px solid rgba(255,255,255,0.1);
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 175px;
	padding: 15px 8px;
}
.signout_btn{
	background: none;
	border: none;
	color: rgba(255,255,255,0.7);
	font-size: 16px;
}
/* ============ wrap ============ */
#wrap{
	position: relative;
	left: 220px;
	width: calc(100% - 220px);
}
#header{
	position: relative;
	background-color: white;
	height: 70px;
	border-bottom: 1px solid #eee;
}
.header_gnb{
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 12px;
}
.header_gnb li{
	display: inline-block;
	margin-left: 13px;
	vertical-align: middle;
}
.gnb_icon{
	display: block;
	width: 24px;
	height: 24px;
	background: url(https://s3.ap-northeast-2.amazonaws.com/spin-protocol-resource/resources/images/btn-notice-gray-99.png)no-repeat;
	text-indent: -999999px;
}
.gnb_notice{position: relative;}
.circle_cnt{
	position: absolute;
	right: -6px;
	top: -4px;
	display: block;
	border: 1px solid white;
	border-radius: 9px;
	width: 18px;
	height: 18px;
	text-align: center;
	background-color: #00dbbf;
}
.circle_cnt .notice_cnt{
	position: relative;
	top:-3px;
	color: white;
	font-size: 5px;
	line-height: 10px;
}
.gnb_my_info{
	position: relative;
	font-weight: bold;
	font-size: 15px;
	color: #222;
}
.gnb_my_info span{
	display: inline-block;
}
.my_name{
	position: relative;
	top: 9px;
}
.my_img{
	display: block;
	border-radius: 20px;
	width: 40px;
	height: 40px;
	text-indent: -999999px;
	background: url(https://s3.ap-northeast-2.amazonaws.com/spin-protocol-resource/resources/images/myimg.jpg)no-repeat;
	background-size: 40px 40px;
}
/* ============ main ============ */
#main{
	background-color: #f9f9f9;
	padding: 0 20px 200px;
}
.breadcrumbs{
	font-size: 15px;
	line-height: 70px;
	height: 70px;
	position: relative;
}
.container > div:nth-child(1),.container > div:nth-child(2) {margin-top: 0px;}
.container > div{margin-top: 75px;}

.breadcrumbs a{
	position: relative;
	padding-right: 23px;
	color: #ccc;
}
.breadcrumbs a:after{
	content: '';
	position: absolute;
	top:3px; right: 4px;
	width: 10px;
	height: 15px;
	background: url(https://s3.ap-northeast-2.amazonaws.com/spin-protocol-resource/resources/images/arrow.png)no-repeat;
	background-size: 8px;
	opacity: 0.2;
}
.breadcrumbs span{
	color: #00dbbf;
}
.container {width: 100%;}
h2{
	font-size: 17px;
	line-height: 25px;
	color: #222;
}

.list_wrap{
	position: relative;
	background-color: white;
	box-shadow: 0 1px 4px 0 #e5e9f2;
	border-radius: 5px;
}
.container h2{
	position: absolute;
	top: -40px;
}
/*캠페인 등록 공통사항 ====> 끝*/


/* table공통사항 */
caption{
	position: absolute;
	text-indent: -99999px;
}
table{border-collapse: collapse;}
tr{text-align: left;}
thead th{
	padding: 14px 0 15px;
	font-size: 15px;
	position: relative;
	color: #666;
}
thead:after{
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	border-bottom: 1px solid #eeeeee;
	z-index: 20;
}
tbody td{
	position: relative;
	padding: 30px 0;
	font-size: 15px;
	line-height: 15px;
	font-weight: bold;
	z-index: 100;
}
tbody tr{
	position: relative;
	width: 100%;
	top: 0; right: 0; bottom: 0; left: 0;
}
tbody tr.tr_on:after{
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 86px;
	background-color: #f6fcfb;;
	z-index: 10;
}
tbody tr *{
	color: #222;
}
.num{padding-left: 20px;}
thead .ud:after{
	content: '';
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: top;
	background: url(https://s3.ap-northeast-2.amazonaws.com/spin-protocol-resource/resources/images/btn-list-filter.png)no-repeat;
}
/* table공통사항 끝 */
