@charset "utf-8";
/*캠페인 등록 공통사항*/
.hide{position: absolute; text-indent: -9999px;}
#nav{
	position: fixed;
	width: 220px;
	background-color: #1f263e;
	font-size: 16px;
	min-height: 100%;
}
.logo{
	width: 148px;
	margin: 30px auto 40px;
}
.logo a{
	background: url(https://s3.ap-northeast-2.amazonaws.com/spin-protocol-resource/resources/images/spin_logo-2.png) no-repeat;
	background-size: 148px 100px;
	background-position: center;
	display: block;
	width: 148px;
	height: 100px;
	text-indent: -999999px;
}
#nav li{
	position: relative;
	padding: 16px 0 17px 30px;
}
#nav a{
	font-size: 16px;
	color: rgba(255,255,255,0.7);
}
#nav .nav_on:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 53px;
	border-left: 5px solid #627efe;
}
.btn_wrap{
	border-top: 1px solid rgba(255,255,255,0.1);
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 175px;
	padding: 15px 8px;
}
.logout_btn{
	background: none;
	border: none;
	color: rgba(255,255,255,0.7);
	font-size: 16px;
}
/* ============ wrap ============ */
#header{
	position: relative;
	background-color: white;
	height: 70px;
	border-bottom: 1px solid #eee;
	box-shadow: 0 3px 20px 0 rgba(124, 124, 124, 0.1);
	margin-left: 220px;
}
#header h2{
	height: 70px;
	font-size: 19px;
	line-height: 70px;
	text-align: center;
}
.header_gnb{
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 12px;
}
.header_gnb li{
	display: inline-block;
	margin-left: 13px;
	vertical-align: middle;
}
.gnb_icon{
	display: block;
	width: 24px;
	height: 24px;
	background: url(https://s3.ap-northeast-2.amazonaws.com/spin-protocol-resource/resources/images/btn_notice_gray/btn-notice-gray-99.png)no-repeat;
	text-indent: -999999px;
}
.gnb_notice{position: relative;}
.circle_cnt{
	position: absolute;
	right: -6px;
	top: -4px;
	display: block;
	border: 1px solid white;
	border-radius: 9px;
	width: 18px;
	height: 18px;
	text-align: center;
	background-color: #00dbbf;
}
.circle_cnt .notice_cnt{
	position: relative;
	top:-3px;
	color: white;
	font-size: 5px;
	line-height: 10px;
}
.gnb_myinfo{
	position: relative;
	font-weight: bold;
	font-size: 15px;
	color: #222;
}
.gnb_myinfo span{
	display: inline-block;
}
.myname{
	position: relative;
	top: 9px;
}
.myimg{
	display: block;
	border-radius: 20px;
	width: 40px;
	height: 40px;
	text-indent: -999999px;
	background: url(http://frmymkzjqkoy874855.gcdn.ntruss.com/i0001464642.1519293903.1731.thm.png)no-repeat;
	background-size: 40px 40px;
}
/* ============ main ============ */
#main{
	background-color: #f5f6fa;
	padding: 0 20px 200px;
	margin-left: 220px;
}